//navbar.js
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: rgb(22, 24, 26);

  &__brand {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__toggler div {
    background-color: darkgrey;
    transition: 0.4s ease-in;
  }

  &__toggler {
    cursor: pointer;
    display: none;
  }

  li:after {
    // hover effect
    content: "";

    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  li:hover:after {
    //hover effect

    background: pink;
  }

  &__link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &__toggler {
      display: block;
    }

    &__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      width: 50%;
      height: 93vh;
      background-color: rgb(22, 24, 26);
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.3s ease-in;
      z-index: 1;
    }
  }

  .dishes {
    &__description {
      min-width: 100%;
    }
  }
}

// active class
.nav__active {
  transform: translateX(0);
}

//toggle icon animation
.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-9px, -5px);
}

//home.js
.home {
  &__container {
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__introduction p {
    font-size: 1.8rem;

    color: white;
  }

  &__orderButton {
    font-size: 1.2rem;
    cursor: pointer;
  }
  &__orderButton:hover {
    background-color: yellowgreen;
  }
}

// SignatureDishes.js

.dishes {
  &__description {
    background-color: rgba(0, 0, 0, 0.322);
  }

  &__description > p {
    color: whitesmoke;
    font-size: 1.2rem;
  }
}

.dish__details {
  background-color: rgba(10, 10, 10, 0.781);
}

//OpeningHours.js

.OpeningTimes {
  background-color: #282828;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 1.2rem;
}

//contactForm.js
.contact {
  background-color: #282828ce;

  color: white;

  &__form label,
  input,
  button {
    font-size: 1.2rem;
  }

  &__form button:hover {
    background-color: yellowgreen;
  }
}

button {
  padding: 10px;
  background-color: yellow;
}
